Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -clang-analyzer-security.insecureAPI.*,
  -misc-no-recursion,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,

WarningsAsErrors: '*'

CheckOptions:
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           'ASSERT'
ExtraArgs: [-std=c11,-DDEBUG]
